{% extends 'customers/base.html' %}
<meta name="viewport" content="width=device-width,initial-scale=1.0">
{% block title %}Login{% endblock %}

{% block body %}
    <h2 style="color:white; font-family: cursive;">Login</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="User Name">
        <br><br>
        <input type="text" name="password" placeholder="Password">
        <br><br>
        <input type="submit" name="submit" value="Login">
    </form>
{% endblock %}